<p>
  <strong>Label:</strong>
  <%= @campo_extra.label %>
</p>

<p>
  <strong>Campo tipo:</strong>
  <%= @campo_extra.campo_tipo %>
</p>

<% unless @campo_extra.select_option.blank? %>
<p>
  <strong>Select Option</strong>
  <%= @campo_extra.select_option %>
<% end %>
</p>
<%= link_to 'Edit', edit_campo_extra_path(@campo_extra), class: 'btn btn-default' %> |
<%= link_to 'Back', campo_extras_path, class: 'btn btn-default' %>
