<%= form_for(@contato, :html => {class: "form-horizontal"}) do |f| %>
    <% if @contato.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@contato.errors.count, "error") %> prohibited this contato from being saved:</h2>

          <ul>
            <% @contato.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="form-group">
      <%= f.label :email, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_field :email, class: "form-control", placehoder: "Digite o e-mail" %>
      </div>
    </div>

    <% @campo_extra.each do |campo| %>
        <%= render partial: 'contatos/campo_extra', locals: { campo: campo}  %>
    <% end %>
    <div class="form-group actions">
      <div class="col-sm-10">
        <%= f.submit 'Save',  class: "btn btn-primary " %>
      </div>
    </div>
<% end %>
