<%= form_for(@contato) do |f| %>
  <% if @contato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contato.errors.count, "error") %> prohibited this contato from being saved:</h2>

      <ul>
      <% @contato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

       <% @campo_extra.each do |campo| %>
            <div class="field">
                <%= label_tag campo.chave.to_sym %><br>
                <% case campo.campo_tipo when 'text' %>
                    <%= text_field_tag campo.chave.to_sym %>
                <% when 'textarea' %>
                    <%= text_area_tag campo.chave.to_sym %>
                <% when 'combobox' %>
                  <% @option = eval(campo.select_option) %>
                  <%= select_tag campo.chave.to_sym,
                               options_for_select(@option, params[campo.chave.to_sym])
                  %>

                <% end %>
            </div>
        <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
