<%= form_for(@contato) do |f| %>
  <% if @contato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contato.errors.count, "error") %> prohibited this contato from being saved:</h2>

      <ul>
      <% @contato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

    <% @campo_extra.each do |campo| %>
        <% case campo.campo_tipo
             when 'text' %><%= 'text' %>
            <% when 'textarea' %><%= 'textarea' %>
            <% when 'combobox' %><%= 'combobox' %>
        <% end %>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
