<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @contato.email %>
</p>

<p>
  <strong>User:</strong>
  <%= @contato.user_id %>
</p>

<%= link_to 'Edit', edit_contato_path(@contato), class: 'btn btn-default' %> |
<%= link_to 'Back', contatos_path, class: 'btn btn-default' %>
